<h1>{{ title }} </h1>

<h1 style="text-transform:uppercase;">Listagem de cursos</h1>

<br>

<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Url</th>
        <th>Price</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of courses">
            <td>{{ item.name }} </td>
            <td>{{ item.description }} </td>
            <td>{{ item.url }} </td>
            <td>{{ item.price }} </td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>